APP_NAME="Atapin Media"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://mannavomhimmel.de
APP_LOCALE=de
APP_FALLBACK_LOCALE=en
PLATFORM_BRAND="Manna Vom Himmel"
PLATFORM_TIMEZONE=Europe/Berlin
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
SESSION_DRIVER=database
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax
CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local
LOG_CHANNEL=daily
LOG_LEVEL=warning
MAIL_MAILER=log
